<h1 class='title'>All Posts</h1>
<% @posts.each do |post| %>
    <div class='each-post'>
      <h3><%= post.title %></h3>
      <p><%= truncate(post.body) %></p>
      <p>Posted by <%= post.email %> at <%= post.created_at %></p>
      <a><%= link_to "Read More", post_path(post), :class => 'btn btn-info' %></a>
    </div>
<% end %>


<style>
    h1.title {
      font-family: arial;
      font-size: 50px;
      color: #343a40;
      padding: 20px;
    }
    h3 {
      font-family: arial;
      color: #343a40;
      font-weight: bold;
    }
    p {
      font-family: arial;
      color: #343a40;
    }
    div.each-post {
      margin: 10px;
      padding: 40px;
      border-radius: 10px;
      background-color: lightgrey;
    }
  </style>
