<br>
<h2 class="title">
  <% if @post.user.avatar.attached? %>
    <%= image_tag @post.user.avatar.variant(resize: "75x75!"), class: "tar rounded-circle" %>
  <% else %>
    <%= image_tag gravatar_image_url(current_user.email, size: 75), height: 75, width: 75, class: "tar rounded-circle" %>
  <% end %>
    <%= @post.email %>
</h2>
<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<% if @post.image.attached? %>
  <%= image_tag url_for(@post.image) %>
<% end %>
<p><i class="spaced red fa fa-heart" aria-hidden="true"></i><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<p>Posted on: <%= @post.created_at.to_formatted_s(:short) %> </p>

<hr>
<% if @post.email == current_user.email %>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-success' %>
<%= link_to "Delete", post_path(@post),
                                      method: :delete,
                                      data: { confirm: 'Are you sure?'},
                                      :class => 'btn btn-danger' %>
<% end %>
<%= link_to 'Like', post_likes_path(@post),
                                      method: :post,
                                      :class => 'btn btn-primary '%>

<hr>
<h5>Comments:</h5>

<% @post.comments.each do |comment| %>
  <div class="well">
    <p><i>
      <strong> <%= comment.user %> </strong>: <%= comment.body %>
      <% if comment.user == current_user.email %>
      <%= link_to '[X]', [comment.post, comment],
                method: :delete,
                data: { confirm: 'Are you sure?'},
                :class => 'red' %>
      <% end %>
    </i></p>
  </div>
<% end %>

<h5>Add Comment:</h5>

<%= form_for([@post, @post.comments.build]) do |form| %>

  <p>
    <%= form.text_area(:body, { :id => 'comment', :class => 'form-control' } ) %>
  </p>

  <p>
    <%= form.submit({:class => 'btn btn-success'}) %>
  </p>
<% end %>

<style>
  .avatar {
    display: inline;
  }

  .tar {
    margin-right: 10px;
  }

  .red {
    color: red;
  }

  .spaced {
    padding-right: 5px;
  }

</style>
