<h2><%= @post.title %></h2>
<p><%= @post.body %></p>

<p>Posted by: <%= @post.email %></p>

<hr>
<% if @post.email == current_user.email %>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to "Delete", post_path(@post),
                                      method: :delete,
                                      data: { confirm: 'Are you sure?'},
                                      :class => 'btn btn-danger' %>

<hr>
<% end %>
<h5>Comments:</h5>

<% @post.comments.each do |comment| %>
  <div class="well">
    <p><i>
      <strong> <%= comment.user %> </strong>: <%= comment.body %>
      <% if comment.user == current_user.email %>
      <%= link_to '[X]', [comment.post, comment],
                method: :delete,
                data: { confirm: 'Are you sure?'} %>
      <% end %>
    </i></p>
  </div>
<% end %>

<h5>Add Comment:</h5>

<%= form_for([@post, @post.comments.build]) do |form| %>

  <p>
    <%= form.text_area(:body, { :id => 'comment', :class => 'form-control' } ) %>
  </p>

  <p>
    <%= form.submit({:class => 'btn btn-success'}) %>
  </p>
<% end %>
